<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('include/instaHeader') %>
    <% posts = data.posts %>
    <div class="container">
        <!-- Profile Picture -->
        <div class="profile-pic">
            <img src="<%= posts[Math.floor(Math.random() * 3)].image %>" class="profile-pic" alt="Profile Pic">
        </div>
    
        <!-- Right Section (Username, Buttons, Follow-info) -->
        <div class="text-section">
            
            <!-- Username & Buttons -->
            <div class="first-row">
                <h3>@<%= data.name %></h3>
                <button class="follow-btn">Follow</button>
                <button class="follow-btn">Message</button>
            </div>
    
            <!-- Follow Info -->
            <div class="follow-info">
                <p class="post-number"><%= posts.length %> posts</p>
                <p class="follow">Followers: <%= data.followers %></p>
                <p class="follow">Following: <%= data.following %></p>
            </div>
    
        </div>
    </div>
    <hr>
    <h2>POSTS</h2>
        <div class="container-post">
            <% for(post of posts) { %>
            <div class="post">
                <div class="post-img">
                    <% imageSrc = post.image %>         
                    <img src= " <%= imageSrc %>" class="post-img" alt="Post Image">
                </div>
                <div class="post-info">
                    <p>Likes: <%= post.likes %> </p>
                    <p>Comments: <%= post.comments %> </p>
                </div>
            </div>
            <% } %>
        </div>

</body>
</html>