<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Today is <%= new Date().toDateString() %> </h1>
    <ul>
        <% users.forEach((user) => { %>
            <li>Name: <%= user.name %> from <%= user.country %> </li>
            <% if(user.age < 18) { %>
                <li style="color: green;"><%= user.name %> is young</li>
            <% } else { %>           
            <li style="color: red;"><%= user.name %> is an adult</li>
            <% } %>
        <% }) %>
    </ul>
</body>
</html>